<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.georgwiese.functionInspectorLite"
    android:versionCode="27"
    android:versionName="4.0.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
    
    <!-- For LITE -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
    
    <!-- For Unlock 
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
    -->
    <!-- For PRO, LITE and Unlock -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="de.georgwiese.functionInspector.FunctionInspectorApplication"
        android:icon="@drawable/icon_lite"
        android:label="@string/app_name_lite" >
        <activity
            android:name="de.georgwiese.functionInspector.MainScreen"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name_lite"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.georgwiese.functionInspector.Prefs"
            android:label="@string/prefs_title" />
        <activity
            android:name="de.georgwiese.functionInspector.TableActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/table_title"
            android:theme="@android:style/Theme.NoTitleBar" />

        <meta-data
            android:name="ADMOB_PUBLISHER_ID"
            android:value="a14cf957c728954" />
        <meta-data
            android:name="ADMOB_ALLOW_LOCATION_FOR_ADS"
            android:value="true" />

        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="com.mobclix.APPLICATION_ID"
            android:value="60B13D57-A5C0-4CC3-BD3A-311158F83397" />

        <activity
            android:name="com.mobclix.android.sdk.MobclixBrowserActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>